# Database URL (+psycopg2) for sqlalchemy
DATABASE_URL="postgresql+psycopg2:..."

# Telegram bot token
TELEGRAM_BOT_TOKEN="..."

# Agent Related API keys
OPENAI_API_KEY="..."
TAVILY_API_KEY="..."

# Embedding model in the format provider:model
EMBEDDING_MODEL="openai:text-embedding-3-small"

# Langsmith (Optional)
#LANGSMITH_TRACING=
#LANGSMITH_ENDPOINT=
#LANGSMITH_API_KEY=
#LANGSMITH_PROJECT=